.article-header {

}

.article-header h1 {
    max-width: var(--reading-width);
}

.article-header .lede {
    max-width: var(--reading-width);
}

.article-date {
    opacity: .65;
    margin-top: var(--space-sm);
}